services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: demo
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db


  cassandra:
    image: cassandra:4.1
    container_name: cassandra
    environment:
      - CASSANDRA_START_RPC=true
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    ports:
      - "9042:9042"
    volumes:
      - cassandra_data:/var/lib/cassandra





  presto-coordinator:
      image: prestodb/presto:latest
      container_name: presto-coordinator
      depends_on:
        - mysql
        - mongodb
        - cassandra
      ports:
        - "8080:8080"   
      volumes:
        - ./presto/coordinator/etc:/opt/presto-server/etc
        - ./presto/catalog:/opt/presto-server/etc/catalog

  
  presto-worker-1:
    image: prestodb/presto:latest
    container_name: presto-worker-1
    depends_on:
      - presto-coordinator
    volumes:
      - ./presto/worker1/etc:/opt/presto-server/etc
      - ./presto/catalog:/opt/presto-server/etc/catalog


  presto-worker-2:
    image: prestodb/presto:latest
    container_name: presto-worker-2
    depends_on:
      - presto-coordinator
    volumes:
      - ./presto/worker2/etc:/opt/presto-server/etc
      - ./presto/catalog:/opt/presto-server/etc/catalog

  presto-worker-3:
    image: prestodb/presto:latest
    container_name: presto-worker-3
    depends_on:
      - presto-coordinator
    volumes:
      - ./presto/worker3/etc:/opt/presto-server/etc
      - ./presto/catalog:/opt/presto-server/etc/catalog
volumes:
  mysql_data:
  mongo_data:
  cassandra_data:
